<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.edu.mapper.AchievementTeacherMapper">

	<resultMap type="AchievementTeacher" id="achievementTeacherResult">
		<result property="achievementId"     column="achievement_id"      />
		<result property="teacherId"     column="teacher_id"      />
	</resultMap>

	<delete id="deleteAchievementTeacherByAchievementId" parameterType="Long">
		delete from edu_achievement_teacher where achievement_id=#{achievementId}
	</delete>
	
	<select id="countAchievementTeacherById" resultType="Integer">
	    select count(1) from edu_achievement_teacher where teacher_id=#{teacherId}  
	</select>
	
	<delete id="deleteAchievementTeacher" parameterType="Long">
 		delete from edu_achievement_teacher where achievement_id in
 		<foreach collection="array" item="achievementId" open="(" separator="," close=")">
 			#{achievementId}
        </foreach> 
 	</delete>
	
	<insert id="batchAchievementTeacher">
		insert into edu_achievement_teacher(achievement_id, teacher_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.achievementId},#{item.teacherId})
		</foreach>
	</insert>
	
</mapper> 